* {
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

html {
  background-image: url("https://cdn.wallpapersafari.com/66/87/AB2YjF.jpg");
  background-size: cover;
}


.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-table{
  text-align: center;
  padding: 10px 10px;
  font-size: 20px;
  align-items: center;
  justify-content: space-around;
}

.nav-bar {
  background-image: url("https://t4.ftcdn.net/jpg/01/82/89/97/360_F_182899779_bFw82KGrCJ6wOXas4MjFRGUIvn9IOCcq.jpg");
  align-items: center;
  justify-content: space-around;
  height: 160px;
  display: flex;
  padding: 10px 0px;
}

.nav-button {
  font-size: 20px;
  color: #fff;
  padding: 10px 5px;
  margin: 2px 30px;
  border-radius: 18px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR_dPa8u-EzMaMDyUxEvEl4xugdG9PjC_idFx8edmbgbmqVQnmRUwpGwe6GOwTuIiCc4PA&usqp=CAU");
  cursor: pointer;
}

.nav-links {
  text-align: center;
  
}

.nav-link-buttons {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 5px 0px;
  font-size: 20px;
}

.nav-link-buttons:hover {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 5px 0px;
  font-style: italic;
  text-decoration: underline;
  color: rgb(136, 0, 0);
}


.nav-login-button {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 35px;
}

.nav-login-button:hover {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-style: italic;
  text-decoration: underline;
  color: rgb(136, 0, 0);
}

#login {
  font-size: 25px;
  padding-top: 25px;
}

.label {
  font-size: 25px;
  margin: 20px 0px;
}


.welcome-message {
  font-size: 25px; 
  text-align: center;
}

.gameHR {
  width: 300px;
}

.login-form {
  text-align: center;
  border: 3px solid white;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 25%;
  left: 25%;
}



#userName {
  color: black;
  font-size: 18px;
}

#userPic {
  color: black;
  font-size: 18px;
}


.game-buttons {
  width: 50%;
  font-size: 10px;
  text-align: center;
}

.about {
  text-align: center;
  border: 3px solid white;
  width: 400px;
  height: 300px;
  position: absolute;
  top: 25%;
  left: 25%;
  font-size: 26px;
}

.about button {
  vertical-align: bottom;
}

